{% extends 'projectsmanagement/base.html' %}

{% load render_table from django_tables2 %}

{% block head %}
  <style>
    .version-outdated {
        background-color: #ff000096;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url 'admin:index' %}">Management releases</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      {% endif %}

      {% render_table table %}
    </div>
  </div>
{% endblock %}
